.buttons{
    display:flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    background-color: color-mix(in srgb-linear, white 90%, grey 15%);
}
.headerr{
    display: flex;
    gap: 50%;
    padding-bottom: 2%;
}
body{
    background-image: url("/new_background.jpg");
     display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
a{
    color: #080F36;
}
.img_main{
    margin-left:20%;
    margin-top:7%;
  
    align-items: center;
}
.name{
    color: white
}

.pp{
    color: white;
}
.mf{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_form {

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  justify-items: center;
 
   
}
.ff{
    display: grid;
  height: 150px;
  align-items: end;
    color:white;
}
